### Strings 
1. use " " or ' ' for single line strings.use """   """ or ''' ''' for multi-line string
2. strings are immutable
3. strings are indexed.

In [3]:
#string examples
email_id = "preeti12@gmail.com"
name = 'preeti'

In [4]:
#checking type of the variable
print(type(email_id))
print(type(name))

<class 'str'>
<class 'str'>

In [9]:
#Slicing ==> [start:stop:step]
#Default values start ==> 0,stop ==> length of string,step ==> 1
name = "python"
print(name[2])#Extracting a character
#Extracting multiple characters
print(name[2:4])
print(name[2:5])
print(name[::])
print(name[0:6:2])
#Reversing the string
print(name[::-1])

t
th
tho
python
pto
nohtyp

In [10]:
#strings are immutable
name = "python"
name[2] = 'z'
print(name)

TypeError: 'str' object does not support item assignment

### String Special Operators:

In [11]:
# + ==> concatenation
str1 = "abc"
str2 = "xyz"
print(str1 + str2)

abcxyz

In [13]:
# * ==> Repitition 
str1 * 3

'abcabcabc'

In [15]:
#Membership operators ==> in,not in
str3 = "python"
print('t' in str3)
print('th' in str3)
print('t' not in str3)
print('th' not in str3)
print('TMG' in str3)
print('TMG' not in str3)

True
True
False
False
False
True

### String Built-in Functions:
1. len()
2. min()
3. max()
4. str()

In [16]:
#len() ==> returns no.of characters in the given string
course = "python"
print(len(course))

6

In [18]:
#min() ==> returns character which is having min ASCII value
#Starting ASCII value of lower case letters ==> 97(a)
#Starting ASCII value of upper case letter ==> 65(A)
#Starting ASCII value of numbers ==> 48(0)
str1 = "abc"
str2 = "abcABC"
str3 = "abc123"
print(min(str1))
print(min(str2))
print(min(str3))

a
A
1

In [25]:
#max() ==> returns character which is having max ASCII value
str1 = "abcd"
str2 = "abcABC"
str3 = "abc123"
print(max(str1))
print(max(str2))
print(max(str3))

d
c
c

In [27]:
#str() ==>  Used to convert any data type to string
num = 12
print(type(num))
string_num = str(num)
print(type(string_num),string_num)

<class 'int'>
<class 'str'> 12